.navbar-toggler {
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .navbar-toggler-line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: background-color 0.3s;
  }
  
  .navbar-toggler-line.open {
    background-color: transparent;
  }
  
  .navbar-collapse.show {
    display: block !important;
}